#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    z-index: 1000;
    background-color: gold;
    
    border-right: 1px solid var(--black600);


}

#main {
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 260px;
}

#footer {
    text-align: center;
    border-top: 1px solid var(--black600);
    padding: 10px 10px 10px 10px;
    margin-left: 260px;
    width: calc(100% - 260px);

    a {
        color: var(--black300);
        padding: 10px 20px;
        display: inline-block;

        &:hover {
            // @include underline;
            text-decoration-color: var(--black300);
        }
    }
}

@media (max-width: 800px) {
    #root {
        padding-top: 100px;
    }

    #header {
        left: -258px;
        transition: all 0.3s ease-in;
    }

    #header.show {
        left: 0;
        background-color: rgba(242, 198, 234, 0.84);
        top: 86px;

    }

    #main {
        padding-left: 0;
    }

    #footer {
        width: 100%;
        margin-left: 0;
    }

}