.today__inner {
    display: flex;

    border: 1px solid var(--white100);
    margin-bottom: 40px;

    .today__thumb {
        width: 600px;


        a {
            display: block;
            cursor: pointer;
            width: 100%;
            background-size: cover;
            padding-bottom: 56.25%;
            // background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: #ccc;
        }
    }
}


.today__text {
    width: calc(100% - 600px);
    height: 310px;
    padding: 2rem;
    position: relative;


    .today {
        background-color: rgb(255, 80, 114);
        color: var(--white);
        padding: 1px 10px;
        display: inline-block;
        border-radius: 40px;
        margin-bottom: 10PX;
    }

    .title {
        line-height: 1.4;
        font-size: 1.5rem;
        margin-bottom: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .desc {
        color: var(--black300);

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .info {
        position: absolute;
        left: 2rem;
        bottom: 2rem;

        .author {
            background-color: var(--black600);
            padding: 3px 20px;
        }

        .data {
            color: var(--black400);
            font-size: 14px;
            padding-left: 5px;
        }
    }
}

@media (max-width: 1400px) {
    .today__thumb {
        width: 400px;
    }

    .today__text {
        width: calc(100% - 400px);
        height: auto;

        .desc {
            display: none;
        }
    }
}

@media (max-width: 1200px) {


    .today__thumb {
        width: 330px;
    }

    .today__text {
        width: calc(100% - 330px);

        .title {
            // @include line(1)
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .info {
            display: none;
        }
    }
}




@media (max-width: 600px) {
    .today__inner {
        flex-direction: column;

        .today__thumb {
            width: 100%;
        }

        .today__text {
            width: 100%;
            padding: 1rem;

            .desc {
                display: block;
            }
        }
    }


}