.video__inner {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;
    min-height: 100vh;

    @media (max-width: 1400px) {
        grid-template-columns: repeat (3, 32%);
        gap: 15px;
    }

    @media (max-width: 1200px) {
        grid-template-columns: repeat (2, 49%);
        gap: 10px;
    }

    @media (max-width: 400px) {
        grid-template-columns: repeat (1, 100%);
        gap: 15px;
    }

    .video {
        margin-bottom: 50px;
        border: 1px solid gold;
        box-shadow: 2px 2px 5px rgba(235, 242, 198, 0.84);
    }

    padding: 16px;

    .video__thumb {

        a {
            display: block;
            cursor: pointer;
            width: 100%;
            padding-bottom: 56.25%;
            background-size: cover;
            background-position: center;
        }
    }

    .video__info {


        .title {
            margin-top: 10px;
            margin-bottom: 5px;
            // @include line-one;

            a {
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                color: var(--black100);
                font-weight: bold;
                margin-bottom: 15px;
            }
        }
    }

    .desc {
        width: 100%;
        // @include line(3);
        color: var(--black400);
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }



    .info {
        display: flex;
        justify-content: space-between;
        color: var(--black300);



        .author {
            // @include line-one;
            font-size: 14px;
            text-decoration: underline;
            text-underline-position: under;

            &:hover {
                color: var(--black100);
            }
        }

        .date {
            white-space: nowrap;
            font-size: 14px;
        }
    }
}



// 비디오 상세 페이지
.video__view {

    .video__play {
        width: 100%;
        padding-bottom: 56.25%;
        position: relative;
    }

    .video__info {

        .video__title {
            padding-top: 20px;
            margin-bottom: 20px;
            font-size: 25px;
            border-bottom: 1px solid var(--black600);
            padding-bottom: 15px;

        }

        .video__channel {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            margin-top: 40px;

            .id {
                font-size: 20px;
                color: var(--pink);

                a {

                    padding: 7px 1px;
                    border-radius: 30px;

                }
            }

            .count {
                span {
                    padding: 7px 20px;
                    border-radius: 30px;
                    margin-left: 5px;
                    background-color: var(--black100);
                    color: var(--white);

                    svg {
                        color: var(--white);
                        width: 20px;
                        height: 20px;
                        vertical-align: -5px;
                        margin-right: 5px;
                    }
                }
            }


        }

        .video__comment {

            .comment__all {
                background-color: floralwhite;
                border: 1px dotted rgb(237, 230, 189);
                border-radius: 5%;


                .comment__nickname {
                    font-size: 18px;
                    font-weight: bold;
                }

                .comment__cont {
                    font-size: 16px;
                }
            }

        }
    }

    .video__desc {
        border-top: 1px solid var(--black600);
        white-space: pre-line;
        padding-top: 40px;
    }
}

.video__more {
    border: 1px solid var(--black600);
    text-align: center;
    padding: 1rem;
    border-radius: 50%;

    &:hover {
        background-color: var(--black600);
    }
}

.video__more button {
    position: relative;
    border: none;
    min-width: 200px;
    min-height: 50px;
    background: linear-gradient(90deg,
            rgba(180, 80, 114, 1.00) 0%,
            rgba(255, 80, 114, 1.00) 100%);
    border-radius: 1000px;
    color: #fff;
    cursor: pointer;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
    font-weight: 700;
    transition: 0.3s;

    &:hover {
        transform: scale(1.2);
    }

    &:hover::after {
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 6px solid var(--pink);
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        animation: ring 1.5s infinite;
    }

    @keyframes ring {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        100% {
            transform: scale(8.5);
            opacity: 0;
        }
    }
}

// video__slider
.video__slider {
    .video {
        .video__thumb {

            a {
                display: block;
                cursor: pointer;
                width: 100%;
                padding-bottom: 56.25%;
                background-size: cover;
                background-position: center;
            }
        }

        .video__info {
            background-color: rgba(255, 222, 222, 0.376);
            padding: 14px;
            border: 1px solid rgba(255, 222, 222, 0.694);

            .title {
                // @include line-one;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 16px;
            }

            .info {
                display: flex;
                justify-content: space-between;
                color: var(--black300);

                .author {
                    // @include line-one;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 14px;
                    text-decoration: underline;
                    text-underline-position: under;

                    &:hover {
                        color: var(--black100);
                    }
                }

                .date {
                    // white-space: nowrap;
                    // font-size: 14px;
                    display: none;
                }
            }
        }

    }
}